.container{
    width: 400px;
    height: 400px;
    background: radial-gradient(salmon, aqua);
    position: relative;
    box-shadow: 3px 2px 25px 3px black;

}
.box{
    width: 100px;
    height: 100px;
    background: slateblue;
    position: absolute;
    top: 100px;
    right: 0;
}
.box2{
    width: 20px;
    height: 20px;
    background: black;
    position: relative;
    top: 40px;
    left: 80px;
}
.box3{
    width: 170px;
    height: 20px;
    background: pink;
    position: absolute;
    top: 300px;
    right: 0;
}
.container2{
    width: 250px;
    height: 700px; 
    background: linear-gradient(to right, gray 20%, blue 60%);
    position: relative;
    box-shadow: 3px 2px 20px 2px black;
}
.fix{
    width: 170px;
    height: 50px;
    background: red;
    box-shadow: 3px 2px 30px 1px white;
    position: absolute;
    top: 150px;
    left: 140px;
    
}
.container3{
    width: 400px;
    height: 100px;
    border: dotted blue 3px;
    position: absolute;
    top: 200px;
    right: 100px;
    box-shadow: 3px 2px 30px 5px black;
}
h1{
    text-align: center;
    text-shadow: 7px -10px  5px pink;
}